blockquote {
	font-size: 1em;
	font-style: normal;
	padding: 16px;
	margin: 0 0 15px;
	position: relative;
	line-height: 2;
	text-indent: 0;
	border: none
}
blockquote:before {
	content: "“";
	left: 12px;
	top: 0;
	color: #ffbe76;
	font-size: 2em;
	font-family: Arial, serif;
	line-height: 1em;
	font-weight: 700;
	position: absolute;
}
blockquote:after {
	content: "”";
	right: 12px;
	bottom: -26px;
	color: #ffbe76;
	font-size: 2em;
	font-family: Arial, serif;
	line-height: 1em;
	font-weight: 700;
	position: absolute;
	bottom: -31px;
}


strong {
  font-size: 1.1em;
  padding: 0 4px
}